{
	"optimization": {
		"cost_function": "softmax_ce",
		"class_weights": [],
		"method": "sgdmomentum",
		"learning_rate": 1e-1,
		"decrease_factor": 1,
		"final_learning_rate": 1e-6,
		"last_iter_to_decrease": 1000,
		"momentum": 0.9,
		"epsilon": 1e-6,
		"rho": 0.95,
		"beta1": 0.9,
		"beta2": 0.999,
		"nesterov": true,
		"regularization": true,
		"regularization_type": "L2",
		"regularization_coeff": 1e-4
	},
	"model": {
		"input_shape": [32, 32, 3],
		"output_shape": 10,
		"growth_rate": 12,
        "first_output": 16,
        "num_blocks": 3,
        "depth": 40,
        "dropout": false,
		"augmentation": true
	},
	"training": {
		"n_epochs": 300,
		"batch_size": 64,
		"continue": false,
		"display_cost": true,
		"save_path": "training_curves",
		"validation_frequency": 703,
		"validation_batch_size": 64,
		"extract_params": true,
		"param_file": "DenseNet.npz",
		"multi_gpus": false
	},
    "testing": {
		"batch_size": 100
	},
	"summary_dir": ""
}